@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans Regular"), local("Open-Sans-Regular"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../fonts/oppensans-bold-webfont.woff2") format("woff2"), url("../fonts/oppensans-bold-webfont.woff") format("woff"); }

@font-face {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-style: normal;
  src: local("Bebas Neue Bold"), local("Bebas-Neue-Bold"), url("../fonts/bebasneue-regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue-regular-webfont.woff") format("woff"); }

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  position: relative;
  background-color: #1a1917;
  color: #ffffff;
  margin: 0; }

span {
  visibility: hidden; }

a {
  text-decoration: none; }

h2,
h3 {
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-weight: 400;
  margin: .5rem; }

h2 {
  font-size: 33px;
  line-height: 33px;
  letter-spacing: 3px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h3 {
  font-family: 'Bebas Neue';
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px; }

div > header {
  display: flex;
  flex-direction: column-reverse; }

p {
  text-align: justify; }

body > header .header-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-block-start: 1rem; }

.header-container form > * {
  margin-left: 1rem; }

h1 {
  padding: 0;
  margin: 0;
  background-image: url("../img/logo-sos.svg");
  background-repeat: no-repeat; }

#language {
  border: none; }

@media (min-width: 720px) {
  body > header .header-container {
    margin-block-start: 43px; } }

.masthead {
  background-image: url("../img/bg-masthead.svg");
  background-repeat: no-repeat;
  background-position: 35% 40%;
  background-size: cover; }

.masthead-container {
  padding: 228px 16px 16px 16px;
  text-align: center;
  color: #ffffff;
  align-items: center;
  justify-content: space-around;
  margin: auto; }

.masthead-container button {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 2.94008px;
  padding: .5rem;
  border: none; }

.masthead-container button > a {
  color: #1A1917;
  text-decoration: none; }

.masthead-foot {
  padding-block-start: 190px;
  padding-block-end: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.the-story-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  line-height: 22px;
  padding-block-end: 2rem;
  background-image: url("../img/scroll-down.svg");
  background-repeat: no-repeat;
  background-position: 50% 80%; }

@media (min-width: 720px) {
  .masthead-container h2 {
    line-height: 80px;
    font-size: 80px;
    letter-spacing: 3px;
    margin: 0; }
  .masthead-container h3 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    margin: 0;
    margin-block-end: 28px; } }

body > nav {
  padding: 1rem;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-110%);
  transition: transform 0.3s; }
  body > nav a {
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em; }

body > [type="checkbox"]:checked ~ nav {
  transform: translateX(0); }

#menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.menu {
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 50% 50%;
  border-inline-start: 1.5px solid rgba(255, 255, 255, 0.5); }

.menu span {
  padding-inline-start: 1rem; }

@media (min-width: 720px) {
  body > nav {
    top: 43px;
    left: 5%;
    right: 0;
    bottom: auto;
    width: auto;
    transform: none;
    transition: none;
    padding: 0; }
    body > nav ul {
      display: flex;
      margin: 0; }
      body > nav ul li {
        margin-right: 1.5rem; }
  .menu {
    background-image: url("../img/xbox.svg"), url("../img/union.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 20% 50%, 80% 50%;
    background-size: 24px;
    padding: 0 .5rem; } }

@media (min-width: 1020px) {
  body > nav {
    top: 43px;
    left: 30%;
    right: 0;
    bottom: auto;
    width: auto;
    transform: none;
    transition: none;
    padding: 0; }
    body > nav ul {
      display: flex;
      margin: 0; }
      body > nav ul li {
        margin-right: 1.5rem; }
  .menu {
    background-image: url("../img/xbox.svg"), url("../img/union.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 20% 50%, 80% 50%;
    background-size: 24px;
    padding: 0 .5rem; } }

.about-container header {
  border-block-end: 2px solid #ffffff; }

.about-container {
  padding: 1rem; }

.about-container .gallery {
  position: relative;
  max-width: 275px;
  padding-bottom: calc(100% * 273 / 249); }

.about-container li {
  position: absolute; }
  .about-container li img {
    max-width: 100%;
    display: block;
    object-fit: cover; }

.fig1 {
  top: 0;
  left: 0;
  right: calc(100% * 24 / 249);
  z-index: 3; }

.fig2 {
  top: 50%;
  right: calc(100% * 12 / 249);
  left: calc(100% * 12 / 249);
  transform: scale(calc(249 / 273)) translateY(-50%);
  transform-origin: 100% 0%;
  z-index: 2; }

.fig3 {
  top: 20%;
  left: 20%;
  right: -7%;
  z-index: 1; }

.gallery::after {
  content: " ";
  background-image: url("../img/switch-about.svg");
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center; }

.about-container p {
  padding-inline-start: 10%; }

.feature-container li summary {
  font-family: 'Bebas Neue';
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #FFB548;
  text-transform: uppercase; }

.feature-container {
  padding-block-start: 82px;
  padding-block-end: 85px;
  padding-left: 40%;
  background-color: rgba(8, 10, 11, 0.8); }

.feature-container li {
  margin-top: 43px; }

.feature {
  background-image: url("../img/bg-about-small.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 50% 75%; }
