@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans Regular"), local("Open-Sans-Regular"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../fonts/oppensans-bold-webfont.woff2") format("woff2"), url("../fonts/oppensans-bold-webfont.woff") format("woff"); }

@font-face {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-style: normal;
  src: local("Bebas Neue Bold"), local("Bebas-Neue-Bold"), url("../fonts/bebasneue-regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue-regular-webfont.woff") format("woff"); }

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  position: relative;
  background-color: #1a1917;
  color: #ffffff;
  margin: 0; }

span {
  visibility: hidden; }

a {
  text-decoration: none; }

h2,
h3 {
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-weight: 400;
  margin: .5rem; }

h2 {
  font-size: 33px;
  line-height: 33px;
  letter-spacing: 3px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h3 {
  font-family: 'Bebas Neue';
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px; }

div > header {
  display: flex;
  flex-direction: column-reverse; }

p {
  text-align: justify; }

@media (min-width: 720px) {
  h2 {
    line-height: 80px;
    font-size: 80px;
    letter-spacing: 3px;
    margin: 0; }
  h3 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    margin: 0;
    margin-block-end: 28px; } }

body > header .header-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0.1%;
  margin-block-start: 1rem; }

.header-container form > * {
  margin-left: 1rem; }

h1 {
  padding: 0;
  margin: 0;
  background-image: url("../img/logo-sos.svg");
  background-repeat: no-repeat;
  background-size: 33px 33px;
  background-position: center; }

select {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #fff; }
  select option {
    background-color: #000000;
    color: #fff;
    border: none; }

@media (min-width: 720px) {
  body > header .header-container {
    max-width: 1244px;
    margin: auto;
    top: 0.5%; }
  h1 {
    background-size: 43px 43px; } }

.masthead {
  background-image: url("../img/bg-masthead.svg");
  background-repeat: no-repeat;
  background-position: 35% 40%;
  background-size: cover; }

.masthead-container {
  padding: 228px 16px 16px 16px;
  text-align: center;
  color: #ffffff;
  align-items: center;
  justify-content: space-around;
  margin: auto; }

.masthead-container button {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 2.94008px;
  padding: .5rem;
  border: none; }

.masthead-container button > a {
  color: #1A1917;
  text-decoration: none; }

.masthead-foot {
  padding-block-start: 190px;
  padding-block-end: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.the-story-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  line-height: 22px;
  padding-block-end: 2rem;
  background-image: url("../img/scroll-down.svg");
  background-repeat: no-repeat;
  background-position: 50% 80%; }

@media (min-width: 720px) {
  .masthead-container h2 {
    line-height: 80px;
    font-size: 80px;
    letter-spacing: 3px;
    margin: 0; }
  .masthead-container h3 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    margin: 0;
    margin-block-end: 28px; } }

body > header nav {
  padding: 1rem;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-110%);
  transition: transform 0.3s; }
  body > header nav ul {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    border-radius: 5px; }
  body > header nav a {
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em; }

[type="checkbox"]:checked ~ nav {
  transform: translateX(0); }

#menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.menu {
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 50% 50%;
  border-inline-start: 1.5px solid rgba(255, 255, 255, 0.5); }

.menu span {
  padding-inline-start: 1rem; }

@media (min-width: 720px) {
  body > header nav {
    position: relative;
    bottom: auto;
    width: auto;
    transform: none;
    transition: none;
    padding: 0; }
    body > header nav ul {
      display: flex;
      margin: 0; }
      body > header nav ul li {
        margin-right: 1.5rem; }
  .menu {
    background-image: url("../img/xbox.svg"), url("../img/union.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 20% 50%, 80% 50%;
    background-size: 24px;
    padding: 0 .5rem; } }

@media (min-width: 1020px) {
  body > header nav {
    position: relative;
    width: auto;
    transform: none;
    transition: none;
    padding: 0; }
    body > header nav ul {
      display: flex;
      margin: 0; }
      body > header nav ul li {
        margin-right: 1.5rem; }
  .menu {
    background-image: url("../img/xbox.svg"), url("../img/union.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 20% 50%, 80% 50%;
    background-size: 24px;
    padding: 0 .5rem; } }

.about {
  background-image: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), linear-gradient(rgba(15, 15, 15, 0.9), rgba(15, 15, 15, 0.9)), url("../img/bg-about.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0 0, 0 0, 0 0;
  background-size: cover, cover, cover; }

.about-container header {
  border-block-end: 2px solid #ffffff; }

.about-container {
  padding: 1rem;
  position: relative; }

.about-container .gallery {
  position: relative;
  padding-bottom: calc(100% * 273 / 249); }

.about-container li {
  position: absolute; }
  .about-container li img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px; }

.fig1 {
  top: 0;
  left: 0;
  right: calc(100% * 24 / 249);
  z-index: 3; }

.fig2 {
  top: 50%;
  right: calc(100% * 12 / 249);
  left: calc(100% * 12 / 249);
  transform: scale(calc(249 / 273)) translateY(-50%);
  transform-origin: 100% 0%;
  z-index: 2; }

.fig3 {
  top: 50%;
  right: 0;
  left: calc(100% * 48 / 249);
  transform: scale(calc(249 / 273)) translateY(-50%);
  transform-origin: 100% 0%;
  z-index: 1; }

.gallery::after {
  content: " ";
  width: 50px;
  height: 50px;
  top: 50%;
  left: 95%;
  position: absolute;
  background-image: url("../img/switch-about.svg");
  background-size: 45px 24px;
  background-repeat: no-repeat;
  background-position: center; }

.about-container p {
  padding-inline-start: 10%; }

.about-container nav {
  position: absolute;
  top: 94%;
  left: 25%;
  z-index: 9999; }

@media (min-width: 720px) {
  .about-container {
    padding: 118px;
    padding-block-start: 209px;
    padding-block-end: 148px;
    display: grid;
    grid-template-areas: "head ul" "p1 ul" "p2 ul";
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem; }
    .about-container .column2 {
      position: relative; }
      .about-container .column2 nav {
        position: absolute;
        top: 90%;
        left: 25%;
        z-index: 9999; }
        .about-container .column2 nav .progress-bar-about a {
          padding: 0.25rem; }
  .about-container header {
    grid-area: head; }
  .about-container p:first-of-type {
    grid-area: p1; }
  .about-container p:nth-of-type(2) {
    grid-area: p2; }
  .gallery {
    grid-area: ul; }
  .gallery::after {
    content: " ";
    width: 50px;
    height: 50px;
    top: 50%;
    left: 100%;
    position: absolute;
    background-image: url("../img/switch-about.svg");
    background-size: 45px 24px;
    background-repeat: no-repeat;
    background-position: center; } }

.feature-container li summary {
  font-family: 'Bebas Neue';
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #FFB548;
  text-transform: uppercase; }

.feature-container {
  padding-block-start: 82px;
  padding-block-end: 85px;
  padding-left: 40%; }

.feature-container li {
  margin-top: 43px;
  position: relative;
  padding-inline-start: 39px; }

.feature-container summary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 16px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-sizing: border-box;
  z-index: 2; }

.feature-container details[open] summary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 16px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  z-index: 2; }

.feature-container details[open] summary:not(last-of-type)::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 23px;
  width: 1px;
  height: 130px;
  background-color: #fff;
  z-index: 1; }

.feature {
  background-image: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.1) 34%, rgba(0, 0, 0, 0.8) 40%, black 100%), url("../img/bg-features.png");
  background-repeat: no-repeat;
  background-position: 0 0, -100px 50%;
  background-size: cover, auto 100%; }

summary::-webkit-details-marker {
  display: none; }

@media (min-width: 720px) {
  .feature {
    background-image: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.8) 60%, black 100%), url("../img/bg-features.png");
    background-repeat: no-repeat;
    background-position: 0 0, 0 50%;
    background-size: cover, auto 100%; }
  .feature-container {
    max-width: 1044px;
    margin: auto; } }

.system-requirements {
  background-image: radial-gradient(58.54% 41.14% at 50.49% 75.05%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 46.19%, #080A0B 100%), url("../img/bg-system-req.png");
  background-position: 0 0, bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block-end: 200px; }

.system_requirements-container {
  padding-block-start: 69px;
  text-align: center;
  padding: 2rem; }

.system_requirements-container ul {
  display: grid;
  grid-template-areas: "ds processor" "memory storage" "graphics graphics";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: left; }

.system_requirements-container b {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  font-family: "Bebas Neue";
  color: #FFB548; }

.ds {
  grid-area: ds; }

.processor {
  grid-area: processor; }

.memory {
  grid-area: memory; }

.storage {
  grid-area: storage; }

.graphics {
  grid-area: graphics; }

.system_requirements-container li {
  padding: 1rem;
  border: 0.504234px solid #979797; }

@media (min-width: 720px) {
  .system-requirements {
    background-image: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url("../img/bg-system-req.png");
    background-position: 0 0, right;
    background-repeat: no-repeat;
    background-size: cover, 900px;
    padding-block-end: 0; }
  .system_requirements-container ul {
    padding-inline-end: 45%;
    padding-block-start: 70px;
    padding-block-end: 90px;
    padding-inline-start: 60px;
    max-width: 573.2px;
    max-height: 400.69px; }
  .system_requirements-container {
    max-width: 1140px;
    margin: auto; } }

.testemonials {
  background-image: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%), url("../img/bg-testemonials.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0; }

.testemonials-container {
  padding: 1rem;
  padding-block-start: 36px;
  text-align: center; }

.testemonials-container header {
  text-align: left; }

.testemonials-container button {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 2.94008px;
  padding: .5rem;
  border: none; }

.testemonials-container button > a {
  color: #1A1917;
  text-decoration: none; }

.testemony {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  position: relative;
  text-align: center;
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: 95% 5%;
  padding: 1rem;
  margin: 1rem; }

.job {
  text-align: center;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.5; }

.profile {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 40px;
  height: 40px; }

.testemonials-container h4 {
  font-family: "Bebas Neue";
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #FFB548;
  margin: 0; }

.date {
  font-size: 12px;
  line-height: 16px;
  mix-blend-mode: normal;
  opacity: 0.5; }

@media (min-width: 720px) {
  .testemonials-container {
    position: relative;
    text-align: left;
    padding-block-start: 303px;
    padding-inline-start: 118px;
    padding-block-end: 269px;
    padding-inline-end: 50%;
    max-width: 1140px;
    margin: auto; }
  .profile {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 66px;
    height: 65px; }
  .testemonials-container li {
    position: absolute; }
  .even-lathi {
    top: 20%;
    left: 70%; }
  .jada-griffin {
    top: 45%;
    left: 60%;
    right: 10%; }
  .aaron-williams {
    top: 70%;
    left: 70%; } }

.suscribe {
  background-image: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), url("../img/bg-suscribe.png"), linear-gradient(black, black);
  background-repeat: no-repeat;
  background-position: -90% 20%, -90% 30%, 0 0;
  background-size: 70% 65%, 70% 60%, cover; }

.suscribe-container {
  padding: 1rem;
  padding-block-start: 39px;
  padding-block-end: 61px; }

.suscribe-container header,
.suscribe-container p {
  padding-inline-start: 35%; }

.suscribe-container button {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 2.94008px;
  padding: .5rem;
  border: none;
  width: 290px; }

.email {
  width: 290px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 2.94008px;
  padding-inline-start: 20px; }
  .email input::placeholder {
    color: #FFB548;
    font-size: 14px;
    line-height: 19px; }
  .email input {
    background-color: rgba(0, 0, 0, 0);
    border: none; }
  .email label {
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5; }

.suscribe-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding-block-start: 65px; }

@media (min-width: 720px) {
  .suscribe {
    background-color: #080A0B;
    background-image: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), url("../img/bg-suscribe.png");
    background-repeat: no-repeat;
    background-position: 8% 15%, 10% 20%;
    background-size: 400px 500px, 300px 400px; }
  .suscribe-container {
    padding: 2rem;
    padding-inline-start: 40%;
    max-width: 1140px;
    margin: auto; }
  .suscribe-container header,
  .suscribe-container p {
    padding-inline-start: 0; }
  .suscribe-container form {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    column-gap: 1rem;
    padding-block-start: 65px; }
  .email {
    width: 366px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 2.94008px;
    padding-inline-start: 20px; }
    .email input::placeholder {
      color: #FFB548;
      font-size: 18px;
      line-height: 25px; }
    .email input {
      background-color: rgba(0, 0, 0, 0);
      border: none; }
    .email label {
      font-size: 12px;
      line-height: 16px;
      color: #FFFFFF;
      mix-blend-mode: normal;
      opacity: 0.5; }
  .suscribe-container button {
    width: 260px;
    height: 60px; } }

body > footer {
  background-color: #080A0B; }

.footer nav {
  display: flex;
  flex-direction: column;
  border-bottom: 0.87397px solid rgba(255, 255, 255, 0.5); }
  .footer nav p {
    background-image: url("../img/logo-sos.svg");
    background-repeat: no-repeat;
    align-self: center;
    padding: 1rem;
    background-size: 50px; }

.footer-menu,
.social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 1.5rem; }
  .footer-menu li,
  .social-media li {
    margin: .5rem; }
    .footer-menu li a,
    .social-media li a {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      color: #fff;
      text-transform: uppercase; }

.social-media li {
  width: 30px;
  height: 20px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 30px 20px; }

.fb {
  background-image: url("../img/facebook.svg"); }

.tw {
  background-image: url("../img/twitter-white.svg"); }

.yt {
  background-image: url("../img/youtub.svg"); }

.ms {
  background-image: url("../img/twitch.svg"); }

.about-the-page {
  padding-block-start: 1rem; }
  .about-the-page p {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5; }
  .about-the-page ul {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 1rem; }
    .about-the-page ul a {
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      line-height: 34px;
      letter-spacing: 0.1em; }

@media (min-width: 720px) {
  .footer {
    max-width: 1140px;
    margin: auto;
    padding-block-end: 2rem; }
  .footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 1rem; }
    .footer nav ul {
      padding: 0; }
    .footer nav p {
      margin: 0; }
  .about-the-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .about-the-page ul {
      flex-direction: row;
      margin: 0;
      justify-content: space-between; }
    .about-the-page p {
      margin: 0; } }
