@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans Regular"), local("Open-Sans-Regular"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../fonts/oppensans-bold-webfont.woff2") format("woff2"), url("../fonts/oppensans-bold-webfont.woff") format("woff"); }

@font-face {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-style: normal;
  src: local("Bebas Neue Bold"), local("Bebas-Neue-Bold"), url("../fonts/bebasneue-regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue-regular-webfont.woff") format("woff"); }

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  position: relative;
  background-color: #1a1917;
  color: #ffffff; }

span {
  visibility: hidden; }

h2,
h3 {
  text-transform: uppercase; }

h3 {
  order: 1; }

body > header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

#language {
  border: none; }

.masthead-container {
  background-image: url("../img/angelina-andreas-jungleruins.png");
  object-fit: contain; }

.masthead {
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 633px; }
