.about {
    background-image: 
    radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%),
    linear-gradient(rgba(15, 15, 15, 0.9), rgba(15, 15, 15, 0.9)),
    image('bg-about.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 0 0, 0 0, 0 0;
    background-size: cover, cover, cover;
}

.about-container header {
    border-block-end: 2px solid #ffffff;
}

.about-container {
    padding: 1rem;
    position: relative;
}

.about-container .gallery {
    position: relative;
    //max-width: 275px;
    //padding: 10%;
    padding-bottom: calc(100% * 273 / 249);
}

.about-container li {
    position: absolute;
    img {
        max-width: 100%;
        display: block;
        //height: calc(100% * 1.13);
        object-fit: cover;
        border-radius: 5px;
    }
}

.fig1 {
	top: 0;
	left: 0;
	right: calc(100% * 24 / 249);
	z-index: 3;
}

.fig2 {
	top: 50%;
	right: calc(100% * 12 / 249);
	left: calc(100% * 12 / 249);
	transform: scale(calc(249 / 273)) translateY(-50%);
	transform-origin: 100% 0%;
	z-index: 2;
}


.fig3 { 
    // top: 12%;
    // left: 35%;
    // right: 0;
    // z-index: 1;
    top: 50%;
	right: 0;
	left: calc(100% * 48 / 249);
	transform: scale(calc(249 / 273)) translateY(-50%);
	transform-origin: 100% 0%;
	z-index: 1;
} 

.gallery::after {
    content: " ";
    width: 50px;
    height: 50px;
    top: 50%;
    left: 95%;
    position: absolute;
    background-image: image('switch-about.svg');
    background-size: 45px 24px;
    background-repeat: no-repeat;
    background-position: center;
}


.about-container p {
    padding-inline-start: 10%;
}

.about-container nav {
    position: absolute;
    top: 94%;
    left: 25%;
    z-index: 9999;
}

@media(min-width: 720px) {
    .about-container {
        padding: 118px;
        padding-block-start: 209px;
        padding-block-end: 148px;
        display: grid;
        grid-template-areas: "head ul"
                             "p1 ul"
                             "p2 ul";
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        //columns: 2;
        .column2 {
            position: relative;
            nav {
                position: absolute;
                top: 90%;
                left: 25%;
                z-index: 9999;
                .progress-bar-about a{
                    padding: 0.25rem;
                }
            }
        }
    }

    .about-container header {
        grid-area: head;
    }

    .about-container p:first-of-type {
        grid-area: p1;
    }

    .about-container p:nth-of-type(2) {
        grid-area: p2;
    }

    .gallery {
        grid-area: ul;
    }
    // .fig2 {
    //     top: 10%;
    //     right: calc(100% * 12 / 249);
    //     left: calc(100% * 12 / 249);
    //     transform: scale(calc(249 / 273)) translateY(-50%);
    //     transform-origin: 100% 0%;
    //     z-index: 2;
    // }

    .gallery::after {
        content: " ";
        width: 50px;
        height: 50px;
        top: 50%;
        left: 100%;
        position: absolute;
        background-image: image('switch-about.svg');
        background-size: 45px 24px;
        background-repeat: no-repeat;
        background-position: center;
    }
}