.about-container header {
    border-block-end: 2px solid #ffffff;
}

.about-container {
    padding: 1rem;
}

.about-container .gallery {
    position: relative;
    max-width: 275px;
    //padding: 10%;
    padding-bottom: calc(100% * 273 / 249);
}

.about-container li {
    position: absolute;
    img {
        max-width: 100%;
        display: block;
        //height: calc(100% * 1.13);
        object-fit: cover;
    }
}

.fig1 {
	top: 0;
	left: 0;
	right: calc(100% * 24 / 249);
	z-index: 3;
}

.fig2 {
	top: 45%;
	right: calc(100% * 12 / 249);
	left: calc(100% * 12 / 249);
	transform: scale(calc(249 / 273)) translateY(-50%);
	transform-origin: 100% 0%;
	z-index: 2;
}


.fig3 { 
    top: 12%;
    left: 35%;
    right: 0;
    z-index: 1;
} 

.gallery::after {
    content: " ";
    background-image: image('switch-about.svg');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center;
}


.about-container p {
    padding-inline-start: 10%;
}
