@import "./variables";
body {
    font-family: $font-base, $font-fallbacks;
    position: relative;
    background-color: $colour-brand-black;
    color: $text-colour;
}

span {
    visibility: hidden;
}

h2,
h3 {
    text-transform: uppercase;
}