
body > header .header-container {
    position: absolute;
    display:  flex;
    // flex-direction: row;
     justify-content: space-between;
     width: 100%;
    // margin: auto;
    margin-block-start: 1rem;
}

.header-container form > * {
    margin-left: 1rem
}

h1 {
    padding: 0;
    margin: 0;
    background-image: image('logo-sos.svg');
    background-repeat: no-repeat;
}


#language {
    border: none;
}


@media(min-width: 720px) {
    body > header .header-container {
        margin-block-start: 43px;
    }
}