
body > header .header-container {
    position: absolute;
    display:  flex;
    // flex-direction: row;
     justify-content: space-between;
    width: 100%;
    top: 0.1%;
    // margin: auto;
    margin-block-start: 1rem;
}

.header-container form > * {
    margin-left: 1rem
}

h1 {
    padding: 0;
    margin: 0;
    background-image: image('logo-sos.svg');
    background-repeat: no-repeat;
    background-size: 33px 33px;
    background-position: center;
}


select {
    border: none;
    background-color: rgba($color: #000000, $alpha: 0);
    color: #fff;
    option {
        background-color: #000000;
        color: #fff;
        border: none;
    }
}


@media(min-width: 720px) {
    body > header .header-container {
        max-width: 1244px;
        margin: auto;
        top: 0.5%;
    }

    h1 {
        background-size: 43px 43px;
    }
}