
body > header .header-container {
    max-width: 100vw;
   //position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    padding: 0;
    margin: 0;
    background-image: image('logo-sos.svg');
    background-repeat: no-repeat;
}


#language {
    border: none;
}
