

.masthead {
    background-image: image('bg-masthead.svg');
    background-repeat: no-repeat;
    max-width: 100%;
}

.masthead-container {
    padding-block-start: 228px;
    text-align: center;
    color: $text-colour;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

.masthead-container h2 {
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 3px;
    text-align: center;
}

.masthead-container h3 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
}

.masthead-container p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.masthead-container p {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 2.94008px;
}

.masthead-container a {
    color: #1A1917;
    text-decoration: none;
}

// .masthead-foot {
//     padding-block-start: 100px;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }

.the-story-link {
    text-decoration: none;
    color: #ffffff;
}