

.masthead {
    background-image: image('bg-masthead.svg');
    background-repeat: no-repeat;
    background-position: 35% 40%;
    background-size: cover;
}

.masthead-container {
    padding:  228px 16px 16px 16px;
    text-align: center;
    color: $text-colour;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.masthead-container h2 {
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 3px;
}

.masthead-container h3 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
}

.masthead-container button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 2.94008px;
    padding: .5rem;
    border: none;
}


.masthead-container button > a {
    color: #1A1917;
    text-decoration: none;
}

.masthead-foot {
    padding-block-start: 190px;
    padding-block-end: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.the-story-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    line-height: 22px;
    padding-block-end: 2rem;
    background-image: image('scroll-down.svg');
    background-repeat: no-repeat;
    background-position: 50% 80%;
}

