.suscribe {
    background-image: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%),
                    image('bg-suscribe.png'),
                    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    background-repeat: no-repeat;
    background-position: -90% 20%, -90% 30%, 0 0;
    background-size: 70% 65%, 70% 60%, cover;
}

.suscribe-container {
    padding: 1rem;
    padding-block-start: 39px;
    padding-block-end: 61px;
}

.suscribe-container header,
.suscribe-container p {
    padding-inline-start: 35%;
}

.suscribe-container button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 2.94008px;
    padding: .5rem;
    border: none;
    width: 290px;
}

.email {
    width: 290px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 2.94008px;
    padding-inline-start: 20px;
    input::placeholder {
        color: $colour-orange;
        font-size: 14px;
        line-height: 19px;
    }
    input {
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
    label {
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
}

.suscribe-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding-block-start: 65px;
}

@media(min-width: 720px) {
    .suscribe {
        background-color: #080A0B;
        background-image:  radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%),
                            image('bg-suscribe.png');
        background-repeat: no-repeat;
        background-position: 8% 15%,
                            10% 20%;
        background-size: 400px 500px,
                         300px 400px;
    }

    .suscribe-container {
        padding: 2rem;
        padding-inline-start: 40%;
        max-width: $break-point;
        margin: auto;
    }

    .suscribe-container header,
    .suscribe-container p {
        padding-inline-start: 0;
    }

    .suscribe-container form {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        column-gap: 1rem;
        padding-block-start: 65px;
    }

    .email {
        width: 366px;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 2.94008px;
        padding-inline-start: 20px;
        input::placeholder {
            color: $colour-orange;
            font-size: 18px;
            line-height: 25px;
        }
        input {
            background-color: rgba(0, 0, 0, 0);
            border: none;
        }
        label {
            font-size: 12px;
            line-height: 16px;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.5;
        }
    }

    .suscribe-container button {
        width: 260px;
        height: 60px;
    }
}