$font-base: 'Open Sans';
$font-header: 'Bebas Neue';
$font-fallbacks: Arial, Helvetica, sans-serif;
$text-colour: #ffffff;
$break-point: 1140px;
$colour-brand-black: #1a1917;
$colour-orange: #FFB548;

@function image($filename) {
    @return url('../img/#{$filename}');
}
