$font-base: 'bebas-neue';
$font-fallbacks: Arial, Helvetica, sans-serif;
$text-colour: #ffffff;
$break-point: 1140px;
$colour-brand-black: #1a1917;

@function image($filename) {
    @return url('../img/#{$filename}');
}

// @each $font in $fonts {
//         family: 'bebas-neue';
//         font-weight: 400;
//         font-style: normal;
// }