@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans Regular"), local("Open-Sans-Regular"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../fonts/oppensans-bold-webfont.woff2") format("woff2"), url("../fonts/oppensans-bold-webfont.woff") format("woff"); }

@font-face {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-style: normal;
  src: local("Bebas Neue Bold"), local("Bebas-Neue-Bold"), url("../fonts/bebasneue-regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue-regular-webfont.woff") format("woff"); }

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  position: relative;
  background-color: #1a1917;
  color: #ffffff; }

span {
  visibility: hidden; }

h2,
h3 {
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-weight: 400; }

body > header .header-container {
  position: absolute;
  display: flex;
  justify-content: space-between; }

.header-container form > * {
  margin-left: 1rem; }

h1 {
  padding: 0;
  margin: 0;
  background-image: url("../img/logo-sos.svg");
  background-repeat: no-repeat; }

#language {
  border: none; }

#menu {
  display: none; }

.menu {
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-size: 24px; }

.masthead {
  background-image: url("../img/bg-masthead.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 40%; }

.masthead-container {
  padding: 228px 16px 16px 16px;
  text-align: center;
  color: #ffffff;
  align-items: center;
  justify-content: space-around;
  margin: auto; }

.masthead-container h2 {
  font-size: 33px;
  line-height: 33px;
  letter-spacing: 3px; }

.masthead-container h3 {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px; }

.masthead-container button {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 2.94008px;
  padding: .5rem;
  border: none; }

.masthead-container button > a {
  color: #1A1917;
  text-decoration: none; }

.masthead-foot {
  padding-block-start: 190px;
  padding-block-end: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.the-story-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  line-height: 22px; }
