body {
  font-family: "bebas-neue", Arial, Helvetica, sans-serif;
  position: relative;
  background-color: #1a1917;
  color: #ffffff; }

span {
  visibility: hidden; }

h2,
h3 {
  text-transform: uppercase; }

body > header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

#language {
  border: none; }

.feature-container {
  background-image: url("../img/angelina-andreas-jungleruins.png"); }

.feature {
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 633px; }
